<span style="position:absolute;top:0; padding:20px; width:50px;font-size:18px;font-weight:bold;">Move your mouse over the circles</span>
<%= image_tag "cops.png", :style => "width:250px;margin-top:155px;margin-left:60px;" %>
<style type="text/css">
    a {
        color: black;
    }
</style>
<div>
  <div id='radial_container'>

    <ul class='list'>
      <li class='item'>
        <div class='my_class' id="llt">
          <div style="margin-left: 20px;"><br/><br/>Investment<br/> Advisory <br/>Team</div>
          <%= image_tag "investment.png", :size => "110x110" %>
        </div>
      </li>
      <li class='item'>
        <div class='my_class' id="clt">
          <div style="margin-left: 20px;"><br/><br/><br/>Insurance</div>
          <%= image_tag "insurance.png", :size => "110x110" %>
        </div>
      </li>

      <li class='item'>
        <div class='my_class' id="dmt">
          <div style="margin-left: 30px;"><br/><br/><br/>Credit Cards</div>
          <%= image_tag "credit_cards.png", :size => "110x110" %>
        </div>
      </li>

      <li class='item'>
        <div class='my_class' id="eam">
          <div style="margin-left: 20px;"><br/><br/><br/>Retail Loans</div>
          <%= image_tag "retail_loans.png", :size => "110x110" %>
        </div>
      </li>

      <li class='item'>
      </li>
      <li class='item'>
      </li>
      <li class='item'>
      </li>
      <li class='item'>
      </li>
      <li class='item'>
      </li>
      <li class='item'>
        <div class='my_class' id="slt">
          <div><br/><br/><br/>
            <a href="#">Savings <br> Accounts</a>
          </div>
          <%= image_tag "savingsac.png", :size => "110x110" %></div>
      </li>
      <li class='item'>
        <div class='my_class' id="dvu">
          <div><br/><br/><br/>Current <br> Accounts</div>
          <%= image_tag "currentac.png", :size => "110x110" %>
        </div>
      </li>

    </ul>
  </div>
</div>