<div class="hero-unit blocky" style="height: 100px;padding-top: 20px; padding-left: 20px;">
  <div class="row-fluid">
    <div class="span2"><%= image_tag "question.png", :size=>"300x300", :class => "span2" %></div>
    <div class="span8">
      <h1 style="color:white; margin-top: 10px;">Client Asks...</h1>
      <p style="color:white">Are you prepared with the answers?</p>
    </div>
  </div>
</div>

<%= form_tag :action => 'save_quiz_data' %>
<%= hidden_field_tag :quiz_id, @quiz.id %>
<%= hidden_field_tag :assignment_id, @assignment.id %>


<table class="table table-bordered" style="color:#222222;background: white;">
  <tr>
    <th class="header-row">Question</th>
    <th class="header-row">Options</th>

  </tr>
  <% @questions.each do |question| %>
      <tr>
        <td style="font-size: 14px">

          <b><%= question.statement %></b>
        <td style="font-size: 14px">

          <% if !question.optiona.blank? %>
              <%= radio_button_tag "#{question.id}", 1 %>
              <b>  <%= question.optiona %></b>
              <br>
          <% end %>


          <% if !question.optionb.blank? %>
              <%= radio_button_tag "#{question.id}", 2 %>
              <b>  <%= question.optionb %></b>
              <br>
          <% end %>

          <% if !question.optionc.blank? %>
              <%= radio_button_tag "#{question.id}", 3 %>
              <b><%= question.optionc %></b>

              <br>
          <% end %>

          <% if !question.optiond.blank? %>
              <%= radio_button_tag "#{question.id}", 4 %>
              <b><%= question.optiond %></b>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<%= submit_tag "On to the Docu-checking", :class => "btn btn-info btn-large" %>